h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
	@media #{$medium-up} {
	}
	@media #{$large-up} {
	}
}

.player-list {
	ol {
		li {
			font-size: em-calc(11);
			line-height: em-calc(14);
			clear: both;
			strong {
				display: inline-block;
				float:right;
				color: #d70206;
				font-weight: 800;
			}
		}
	}
}

.source {
	font-size: em-calc(12);
}